@page "/classSchedule"
<PageTitle>Horario de Clases</PageTitle>
<h3 class="text-center">Horario de Clases</h3>

<div class="container-classSchedule  py-4">
    <div class="dotted">
       
        <div class="col mt-3">
            <div style="background-image: url(' https://i.pinimg.com/originals/5d/55/13/5d5513dde6aff7d3450bb2b7cd197829.png');width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 85px;
    background-position: center;"></div>
            <div class="text-center my-4">4° SECUNDARIA BLANCO</div>
            <div class="text-center mb-3">
                <button class="btn btn-info text-light">Descargar Ahora</button>
            </div> 
        </div>
    </div>
</div>

@code {

}
