@page "/dashboard"

<PageTitle>Dashboard</PageTitle>
<h2 class="text text-center">Menú</h2>
<div class="container-card mb-3">
    @for(int i = 0;i<7;i++)
    {
        <div class="card card-menu mb-3" style="border-top: 3px solid #729eff !important;">
            <div class="card-body card-body-menu">
                <div>
                    <h6 style="font-size:1.2rem" >4° SECUNDARIA</h6>
                    <h6>BLANCO</h6>
                    <h6 style="font-size:0.8rem;font-style:italic">Modalidad</h6>
                    <h6 style="font-size:0.7rem;font-style:italic">Presencial</h6>
                </div>
                <div>
                    <h5 class="card-title text-center" style="font-size: 5.7rem;margin: 0 !important;">
                        <i class="Icono bi bi-people-fill"></i>
                    </h5>
                </div>

            </div>
        </div>
    }
</div>

@code {

}
