@page "/formfamiliar"
<PageTitle>Formulario Familiar</PageTitle>

<h3 class="text-center mb-3">Formulario Familiar</h3>

<div class="container-perfil ">
	<div class=" container-perfil container-fluid  pr-3 px-sm-5">
		<FormPersona onValidSubmit="OnValidSubmitv"></FormPersona>
	</div>
</div>


@code {
	Spinner spinner;

	private ExampleDTO exampleModel = new();


	public bool IsCreatePostulant = false;

	public void datosCiudad(string ciudad)
	{
		Console.WriteLine(ciudad);
	}

	public void OnValidSubmitv(bool valid)
	{
		if (valid)
		{

			Console.WriteLine("valid");
		}
		else
		{
			Console.WriteLine("invaldi");
		}
	}
	public void OnValidSubmit()
	{

	}
}
