@page "/formpostulation"


<PageTitle>Formulario Postulation</PageTitle>

<h3 class="text-center mb-3">Formulario Postulation</h3>

<div class="container-perfil container-fluid  pr-3 px-sm-5">
    <div class=" ">
        <FormPersona onValidSubmit="OnValidSubmitv"></FormPersona>
        @if(ShowForm == "show"){
        <div class="collapse show" id="collapseExample">
            <div class="card card-body">
                <div class="">
                    <EditForm Model="exampleModel" OnValidSubmit="OnValidSubmit">
                        <div class="card card-perfil card-perfil-content row  p-4 ">
                            <div>
                                <h6 class="mb-3 text">Datos Academicos</h6>
                            </div>

                            <div class="row d-flex flex-sm-column flex-xl-row-reverse flex-column ">
                                <div class="col ">
                                    <div class="row pr-0">
                                        <div class=" pr-0">
                                            <div class="form-floating mb-3 ">
                                                <InputSelect type="text" class="form-control form-control-sm card-perfil " id="floatingInput" @bind-Value="@exampleModel.cadena" placeholder="Idioma">
                                                    <option value="0">4to Sec</option>
                                                </InputSelect>
                                                <label for="floatingInput">curso al que se postula</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pr-0">
                                        <div class=" pr-0">
                                            <div class="form-floating mb-3 ">
                                                <InputText id="floatingInput" placeholder=" " class="form-control form-control-sm card-perfil " @bind-Value="exampleModel.cadena"></InputText>

                                                <label for="floatingInput">colegio de procedencia </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <a class="btn btn-primary float-right mt-3 pt-2" href="ListPostulation"> Guardar Datos</a>
                    </EditForm>
                </div>
               
            </div>
        </div>
        }
        @*        <div class="">
        <EditForm Model="exampleModel" OnValidSubmit="OnValidSubmit">
        <div class="card card-perfil card-perfil-content row  p-4 ">
        <div>
        <h6 class="mb-3 text">Datos Academicos</h6>
        </div>

        <div class="row d-flex flex-sm-column flex-xl-row-reverse flex-column ">
        <div class="col ">
        <div class="row pr-0">
        <div class=" pr-0">
        <div class="form-floating mb-3 ">
        <InputSelect type="text" class="form-control form-control-sm card-perfil " id="floatingInput" @bind-Value="@exampleModel.cadena" placeholder="Idioma">
        <option value="0">4to Sec</option>
        </InputSelect>
        <label for="floatingInput">curso al que se postula</label>
        </div>
        </div>
        </div>
        <div class="row pr-0">
        <div class=" pr-0">
        <div class="form-floating mb-3 ">
        <InputText id="floatingInput" placeholder=" " class="form-control form-control-sm card-perfil " @bind-Value="exampleModel.cadena"></InputText>

        <label for="floatingInput">colegio de procedencia </label>
        </div>
        </div>
        </div>
        </div>

        </div>
        </div>
        <a class="btn btn-primary float-right mt-3 pt-2" href="ListPostulation"> Guardar Datos</a>
        </EditForm>
        </div>*@
    </div>
</div>


@code {
    Spinner spinner;

    private ExampleDTO exampleModel = new();

    public string ShowForm = "";
    public bool IsCreatePostulant = false;

    public void datosCiudad(string ciudad)
    {
        Console.WriteLine(ciudad);
    }

    public void OnValidSubmitv(bool valid)
    {
        if (valid)
        {
            ShowForm = "show";
            Console.WriteLine("valid");
            
        }
        else
        {
            ShowForm = "";
            Console.WriteLine("invaldi");
        }
    }
    public void OnValidSubmit()
    {

    }
}
