@page "/licences"
<PageTitle>Solicitud de Licencia</PageTitle>
<div class="container p-0">
<div class="container-licencias  px-3  fade-in ">
    <h3 class="text-center">Licencias Solicitud</h3>
    <button class="btn btn-success my-3 "> <i class="bi bi-pencil-square"></i> Solicitar Nueva Licencia</button>
    <div class="row">
        <div class="col">
            <table class="table table-postulation dt-responsive" id="Licensestable" style="width:100%">
                <thead>
                    <tr>
                         <th>Id</th>
                        <th>Fecha de Solicitud</th>
                        <th>Fecha Desde</th>
                        <th>Fecha Hasta</th>
                        <th>días</th>
                        <th>Estado</th>
                        <th>Opcion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th >1</th>
                        <td>26-06-2022</td>
                        <td>27-06-2022</td>
                        <td>28-06-2022</td>
                        <td>2</td>
                        <td>
                            <LabelsStatus tipo="1" txt="realizada"></LabelsStatus>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm" style="font-size: 12px;"> ver detalle ></button>
                        </td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>26-06-2022</td>
                        <td>27-06-2022</td>
                        <td>28-06-2022</td>
                        <td>2</td>
                        <td>
                            <LabelsStatus tipo="0" txt="no realizada"></LabelsStatus>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm" style="font-size: 12px;"> ver detalle ></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
@code {
    [Inject]
    IDataTable dataTable { get; set; }
    [Inject]
    NavigationManager navigation { get; set; }

    public void OnValidSubmit()
    {
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await DataTableenabled();


        }

    }

    public async Task DataTableenabled()
    {
        List<Columdef> columdef = new(){
             new Columdef()
             {
                 responsivePriority = 1,
                 targets = 0
             },
                new Columdef()
             {
                 responsivePriority = 10001,
                 targets = 1
             },
              new Columdef()
             {
                 responsivePriority = 10001,
                 targets = 2
             },
              new Columdef()
             {
                 responsivePriority = 10001,
                 targets = 3
             },
              new Columdef()
             {
                 responsivePriority = 10001,
                 targets = 4
             },
              new Columdef()
             {
                 responsivePriority = 1,
                 targets = 5
             }
             ,
              new Columdef()
             {
                 responsivePriority = 1,
                 targets = 6
             }
        };
        await dataTable.Init("#Licensestable", columdef, true, false, false, false, false);

    }
    public void Dispose()
    {

        dataTable.Destroy("#Licensestable");
    }


}
