@page "/ListPostulation"
<PageTitle>Lista de postulantes</PageTitle>


<div class="">
    <div class="container-fluid mx-3 px-3 fade-in ">
        <h3 class="text-center"> Lista de postulantes</h3>
        <div class="row">
            <div class="col ">
                <table id="listPostulacion" class="table  table-postulation  dt-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Curso</th>
                            <th>Estado</th>
                            <th class="col-1">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>2</th>
                            <td>Jacob</td>
                            <td>4to. Secundaria</td>
                            <td>
                                <LabelsStatus tipo="1" txt="Aceptada"></LabelsStatus>
                            </td>
                            <td>
                                <button class="btn btn-primary btnAccion" @onclick="()=>{modal.AbrirModal().GetAwaiter();}">
                                    <i class="bi bi-pencil"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>Mark</td>
                            <td>4to. Secundaria</td>
                            <td>
                                <LabelsStatus tipo="1" txt="Pendiente"></LabelsStatus>
                            </td>
                            <td>
                                <button class="btn btn-primary btnAccion" @onclick="()=>{modal.AbrirModal().GetAwaiter();}">
                                    <i class="bi bi-pencil"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th>4</th>
                            <td>Larry the Bird</td>
                            <td>4to. Secundaria</td>
                            <td>
                                <LabelsStatus tipo="1" txt="Pendiente"></LabelsStatus>
                            </td>
                            <td>
                                <div class="btn-group dropstart ">
                                    <button type="button" class="btn btn-primary btnAccion" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <ul class="dropdown-menu" style="background-color:var(--bg-color);">

                                        <li><a class="dropdown-item itemlst" style="color:var(--fg-color) " @onclick='()=>{navigation.NavigateTo("/Familiares");}'>Familiares</a></li>

                                    </ul>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<Modal @ref="modalMain" id="listaFamiliar" sizeModal="SizeModal.large" titulo="Familiares">
   
</Modal>
<Modal @ref="modal" sizeModal="SizeModal.large">

</Modal>
@code {

    Modal? modal;
    Modal? modalMain;
    private ExampleDTO exampleModel = new();
    [Inject]
    IDataTable dataTable { get; set; }
    [Inject]
    NavigationManager navigation { get; set; }

    public void OnValidSubmit()
    {
    }

    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
      
            List<Columdef> columdef = new(){
             new Columdef()
             {
                 responsivePriority = 1,
                 targets = 0
             },
                new Columdef()
             {
                 responsivePriority = 1,
                 targets = 1
             },
              new Columdef()
             {
                 responsivePriority = 10001,
                 targets = 3
             },
              new Columdef()
             {
                 responsivePriority = 10001,
                 targets = 2
             }
        }; 
 
        await dataTable.Init("#listPostulacion", columdef, true, false, false, false, false);


        }

    }

    public async Task Dispose()
    {

       await  dataTable.Destroy("#listPostulacion");
    }

}
