@page "/listUtilSchool"
<PageTitle>Lista de Utiles Escolares</PageTitle>

<div class=" container fade-in ">
    <h3 class="text-center mx-4">Lista de Utiles Escolares</h3>
    <h6 class="my-3 text-center"><i class="bi bi-tag-fill"></i> Descarga de lista de útiles escolares gestion 2022</h6>

    <div class="row d-flex flex-sm-column flex-xl-row flex-column mt-3">
        <div class="col pr-sm-0 pr-xl-5 pr-0">
            <div style="background-image: url('https://uploads.bemparana.com.br/upload/image/noticia/noticia_843887_img1_maxresdefault.jpg');width: 100%;
    background-size: cover;
    height: calc(30vw)"></div>
        </div>
        <div class="col">
   
            <h3>LISTA DE UTILES ESCOLARES 2022</h3>
            <button class="btn btn-success">Descargar</button>
        </div>
    </div>
</div>
@code {

}
