@page "/downloadRule"
<PageTitle>Estatutos y Reglamentos</PageTitle>
<div class="container">
<div class="container-DWRules  mx-sm-3 px-sm-3  px-0 mx-0 fade-in">
    <h3 class="text-center m-3 px-2">Descarga de Estatutos y Reglamentos</h3>
@*    <h5 class="text-center">
        <i class="bi bi-cloud-arrow-down"></i>
        Descarga de Estatutos y Reglamentos
    </h5>*@
    <div class="mt-3 card" >

        <div class=" w-auto d-flex bd-highlight flex-wrap border-bottom d-sm-none d-md-flex d-none " >
            <div class="p-2 mr-3 ml-3  d-flex align-items-center font-weight-bold">id</div>
            <div class="p-2 flex-fill d-flex align-items-center font-weight-bold">nombre</div>
            </div>
        <div class="download-item">
        @for (int i = 0; i < 5; i++)
        {
                <div class="items w-auto d-flex bd-highlight flex-wrap justify-content-sm-center justify-content-md-start justify-content-center pt-1 ">
                  <div class="p-2 mx-3  d-flex align-items-center font-weight-bold ">@(i + 1)</div>
                <div class="  flex-fill d-flex align-items-center w-auto info mt-3">
                    <p>
                            reglamentos @(i + 1)
                    </p>
                </div>
                    <div class="p-2  bd-highlight align-self-center">
                    <button class="btn btn-danger"><i class="bi bi-cloud-arrow-down"></i> Descargar Aquí</button>
                </div>
            </div>
        }
        </div>  
    </div>
</div>
</div>
@code {

}
