@inject NavigationManager navigationManager 
@inject IRepositorio repositorio


@inject IJSRuntime js
<ul class="list-unstyled components" >
        <li class="nav-item">
        <NavLink href="" Match="NavLinkMatch.All" >
            <i class="bi bi-house"></i>
                 Inicio
            </NavLink>
      
          <NavLink href="Jugadores" Match="NavLinkMatch.All" >
            <i class="bi bi-people"></i>
                 Jugadores
            </NavLink>
        </li>
@*    <li class="nav-item">
        <NavLink href="example">
            <i class="bi bi-person-lines-fill"></i> Examples
        </NavLink>
    </li>

        <li class="nav-item">
              <NavLink  href="counter">
                 <i class="fa-regular fa-address-card"></i> Counter
            </NavLink>
        </li>


         <li class="nav-item">
              <NavLink  href="fetchdata">
                 <i class="oi oi-list-rich"></i> fetchdata
            </NavLink>
        </li>*@
@*
        <li>
            <a href="#pageSubmenu" data-bs-toggle="collapse" aria-expanded="false">
                <i class="fa-regular fa-address-card"></i>
                Paginas
                <i class="fa-solid fa-caret-down float-end"></i>
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li class="nav-item">
                    <NavLink href="#">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink  href="counter">Counter</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink  href="fetchdata">Fetch data</NavLink>
                </li>
            </ul>
        </li>*@
    </ul>       
@code {
    List<InterfaceDTO>? interfaces;

    [Parameter]
    public EventCallback CloseSideBar { get; set; }
    protected override async Task OnInitializedAsync()
    {
        //repositorio.AsignarUrlBase(Endpoint.auth);
        //var resp = await repositorio.Get<List<InterfaceDTO>>("Accesos/Interfaces/32000");
        //if (!resp.Error)
        //{
        //    interfaces = resp.Response;
        //}
        //else
        //{
        //    interfaces = null;
        //}
    }

}
